<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672095213134-qul9kvoe0npp5g69phucnafuuk6p8g4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672095213134-qul9kvoe0npp5g69phucnafuuk6p8g4m</string>
	<key>API_KEY</key>
	<string>AIzaSyBLJTjeJa9x2QB09X7-ZnexfbQk04Gs_mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>672095213134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.limonbyte.wallet</string>
	<key>PROJECT_ID</key>
	<string>maxtransport-e4082</string>
	<key>STORAGE_BUCKET</key>
	<string>maxtransport-e4082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672095213134:ios:2e74d0e6fca76a819f951f</string>
</dict>
</plist>